body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

h1 {
  font-size: 50px;
}
h2 {
  font-size: 40px;
}
.color-text {
  color: tomato;
}

.color-orange {
  color: orange;
}
.flexible-container {
  display: flex;
  margin-bottom: 75px;
}
.header-container {
  background-image: url(images/top-banner.png);
  background-repeat: no-repeat;
}

.header-container,
.dream-container,
.experience-container {
  padding: 0 7.5%;
}
.left,
.right {
  width: 50%;
}

.left p,
.right p {
  text-align: justify;
  margin-bottom: 20px;
}
.right img {
  width: 80%;
}

.button-link {
  background-image: linear-gradient(orange, tomato);
  color: white;
  padding: 10px 50px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: 700;
}
.dream-container {
  display: flex;
  background-image: url(images/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}
/* .dream-text {
  padding-top: 50px;
  text-align: justify;
  padding-right: 10%;
} */
.experience-container {
  background-image: url(images/exp-bg.png);
  background-repeat: no-repeat;
  background-position: left;
}
.left-experience-card {
  margin-right: 2%;
  box-shadow: 5px 5px 50px #808080;
  border-left: 7px solid;
  border-image: linear-gradient(tomato, orange);
  border-image-slice: 1;
  padding-left: 4.5%;
  padding-right: 1%;
  padding-bottom: 10%;
}
.right-experience-card {
  margin-left: 2%;
  box-shadow: 5px 5px 50px #808080;
  border-left: 7px solid;
  border-image: linear-gradient(blue, cyan);
  border-image-slice: 1;
  padding-left: 4.5%;
  padding-right: 1%;
  padding-bottom: 10%;
}

/* .left-box,
.right-box {
  width: 50%;
  padding-left: 7%;
} */
